<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.Joglestudio.Checklist"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application android:label="清单" android:icon="@drawable/ic_launcher">
        <activity android:name=".ItemListActivity"
                  android:label="清单">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SecretItemListActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".AddItemActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".SecretAddItemActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".EditItemActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".SecretEditItemActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".TimePickForAddActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".SecretTimePickForAddActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".TimePickForEditActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".SecretTimePickForEditActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".ImagePickForAddActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".SecretImagePickForAddActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".ImagePickForEditActivity"
                  android:label="清单">
        </activity>
        <activity android:name=".SecretImagePickForEditActivity"
                  android:label="清单">
        </activity>
    </application>
</manifest>
